@using System.ComponentModel.DataAnnotations
<Validation>
    <Field Horizontal="true">
        <FieldLabel ColumnSize="ColumnSize.Is2">URL</FieldLabel>
        <FieldBody ColumnSize="ColumnSize.Is10">
            <TextEdit Placeholder="URL" @bind-Text="this.model.HttpTriggerProperties.EndPointUrl">
                <Feedback>
                    <ValidationError />
                </Feedback>
            </TextEdit>
        </FieldBody>
    </Field>
</Validation>

<Field Horizontal="true">
    <FieldLabel ColumnSize="ColumnSize.Is2">Trigger Type</FieldLabel>
    <FieldBody ColumnSize="ColumnSize.Is10">
        <Select @bind-SelectedValue="this.model.HttpTriggerProperties.HttpMethod">
            <ChildContent>
                <SelectItem Value="HttpMethod.Get.Method">@HttpMethod.Get</SelectItem>
                <SelectItem Value="HttpMethod.Post.Method" Disabled="true">@HttpMethod.Post ➡️ Coming Soon)</SelectItem>
                <SelectItem Value="HttpMethod.Delete.Method" Disabled="true">@HttpMethod.Delete ➡️ Coming Soon)</SelectItem>
                <SelectItem Value="HttpMethod.Head.Method" Disabled="true">@HttpMethod.Head ➡️ Coming Soon)</SelectItem>
                <SelectItem Value="HttpMethod.Put.Method" Disabled="true">@HttpMethod.Put ➡️ Coming Soon)</SelectItem>
                <SelectItem Value="HttpMethod.Options.Method" Disabled="true">@HttpMethod.Options ➡️ Coming Soon)</SelectItem>
                <SelectItem Value="HttpMethod.Patch.Method" Disabled="true">@HttpMethod.Patch ➡️ Coming Soon)</SelectItem>

            </ChildContent>
        </Select>
    </FieldBody>
</Field>
<Field Horizontal="true">
    <FieldLabel ColumnSize="ColumnSize.Is2">HTTP Headers</FieldLabel>
    <FieldBody ColumnSize="ColumnSize.Is10">

        Key: <TextEdit @bind-Text="headerKey" /> Value: <TextEdit @bind-Text="headerValue" /> <Button Color="Color.Primary" Type="ButtonType.Button" Size="Size.Small"
                    @onclick="e => this.model.HttpTriggerProperties.Headers.Add(new Header(){Key = headerKey, Value=headerValue})">Add Header</Button>
        <ListGroup id="httpHeadersList">
            @foreach (var header in this.model.HttpTriggerProperties.Headers)
            {
                <ListGroupItem>@header.Key: @header.Value <Button Color="Color.Danger" Type="ButtonType.Button" Size="Size.Small"
                    @onclick="e => this.model.HttpTriggerProperties.Headers.Remove(header)">Delete</Button></ListGroupItem>
            }
        </ListGroup>
        
    </FieldBody>
</Field>
@code {
    [CascadingParameter(Name = "Model")]
    public SaveScheduledTask model { get; set; } = default!;

    private string headerKey = string.Empty;
    private string headerValue = string.Empty;
}
